<div id="emailModal">

  <div class="container">
    <h1>FormSubmit Demo</h1>
    <form target="_blank" action="https://formsubmit.co/malte.billy@gmail.com" method="POST">
      <div class="form-group">
        <div class="form-row">
          <div class="col">
            <input type="text" name="name" class="form-control" placeholder="Full Name" required>
          </div>
          <div class="col">
            <input type="email" name="email" class="form-control" placeholder="Email Address" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
      </div>
      <button type="submit" class="btn btn-lg btn-dark btn-block">Submit Form</button>
    </form>
  </div>


    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Send Mail</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <div class="input-group">
  
              <form [formGroup]="emailForm" action="https://formsubmit.co/malte.billy@gmail.com" methode="POST">
                <input type="hidden" name="_subject" value="new">
                <div class="form-group">
                  <label>Name</label>
                  <input 
                     type="text"
                     formControlName="name"
                     class="form-control"
                     placeholder="Enter name">
                </div>
                <div class="form-group">
                  <label>Content</label>
                  <input
                    formControlName="content"
                    type="text"
                    class="form-control"
                    placeholder="Enter content">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <textarea
                     required
                     type="text"
                     class="form-control"
                     placeholder="Enter Email"></textarea>
                </div>
  
                <button type="submit" ngbAutofocus class="btn btn-primary" >Send</button>
                <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.dismiss('Delete')">Delete</button>
              </form>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-primary"
                (click)="modal.dismiss('Abort')">Abort</button>
      </div>
    {{emailForm.value.name}}
    </ng-template>
  
    <button  class="btn btn-light" (click)="open(content)">Send Mail</button>
  </div>